@font-face {
    font-family: 'Gotham';
    src: local('Gotham-Book'),
        url('Gotham-Book.woff2') format('woff2'),
        url('Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham-BookItalic'),
        url('Gotham-BookItalic.woff2') format('woff2'),
        url('Gotham-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}